@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&family=IBM+Plex+Mono&display=swap');
@import url("https://use.typekit.net/oto1ukw.css");

body{
    background-color: black;
    padding: 2rem;
    color: white;
    
}

.navbar{
    /* margin-left: -5px; */
    font-family: 'IBM Plex Mono', monospace;
    padding-left: 2rem;
    font-weight: 400;
    color: white;
    font-size: 14px;
    list-style-type: none;
    border-bottom: solid white 1px;
    padding-bottom: 1rem;
    /* display: inline; */
}

.title{
    margin-left: -1rem;
}

li{
    display: inline;
    margin-right: 1rem;
}

a{
    color: white;
    text-decoration: none;
}

a:active{
    text-decoration: underline;
}

.directory{
    margin-right: 6rem;
}

.submit{
    margin-right: 6rem;
}

.submit:hover{
    text-decoration: underline;
}

.directory:hover{
    text-decoration: underline;
}

.images{
    margin-right: 6rem;
}

.images:hover{
    text-decoration: underline;
}

.container{
    display: block;
    padding-top: 1rem;
    /* columns: 2; */
}
.image-container{
    display: block;
    padding-right: 6rem;
}

.example-image{
    display: block;
    width: 50%;
    float: right;
    /* padding-left: 1rem; */
    /* padding-right: 6rem; */
    z-index: 20;
    border: 1px solid rgb(69, 69, 69);
}

.text-container{
    display: block;
    /* font-family: 'Avenir', sans-serif; */
    font-family: "ibm-plex-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 1rem;
    padding-right: 2rem;
    /* padding-top: -2rem; */
    margin-top: -1.5rem;
    /* font-weight: 400; */
    color: white;
    font-size: 1.5rem;
    width: 40rem;
}

.key{
    display:flex;
    /* position: absolute; */
    /* width: 50%; */
    /* width: fit-content; */
    width: max-content;
    /* height: 50%; */
    /* width: 90%; */
    float: right;
    float: left;
    top: 20px;
}

/* 
#hcg-slider-1 .hcg-slide-container {
	width: auto;
	height: auto;
}
.hcg-slider {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.hcg-slide-container {
	max-width: 100%;
	display: inline-block;
	position: relative;
}
.hcg-slides {
	display: none;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: solid 1px #a0a0a0;
}
.hcg-slides img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}
#hcg-slide-prev, #hcg-slide-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	text-decoration: none;
	text-shadow: 1px 1px 5px #686868;
}
#hcg-slide-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
#hcg-slide-prev {
	left: 0;
	border-radius: 0 3px 3px 0;
}
#hcg-slide-prev:hover, #hcg-slide-next:hover {
	background-color: #000c;
}
.hcg-slide-dot-control {
	margin-top: 10px;
	text-align: center;
}
.hcg-slide-dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}
.hcg-slide-dot.dot-active {
	background-color: #717171;
}




 */


