/* body{
    background-color: #0E0E0E;
    background-image: url('assets/leo.png');
    background-size: 100vw;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
    overflow: hidden;
    animation: zoom 5s infinite alternate steps(60);
}



@keyframes zoom {
    0% {
      transform: scale(1.2)
    }
    100% {
      transform: scale(1.0)
    }
  } */




  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Exo&family=IBM+Plex+Mono&display=swap');
  @import url("https://use.typekit.net/oto1ukw.css");
  @import url('https://fonts.cdnfonts.com/css/avenir');

body{
    margin: 0;
    padding: 0;
}

#zoom-in {
    width: 100vw;
    /* height: 300px; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center center;
    transition: transform 2s ease-in-out;
  }

  #text {
    color: white;
    z-index: 1;
    display: none;
    text-align: center;
    font-size: 24px;
    margin-top: 450px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
  }

  #subtext{
    color: white;
    z-index: -1;
    display: none;
    text-align: center;
    font-size: 18px;
    /* margin-top: 48px; */
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
  }

  #disclaimer{
    color: rgb(138, 138, 138);
    /* z-index: -1; */
    display: none;
    text-align: center;
    top: 0;
    font-size: 14px;
    /* margin-top: 48px; */
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
  }


